$bg-color: #0D1117;
$main-white: #ffffff;
$main-blue: #1F6FEB;
$main-green: #30A14E;
$main-yellow: #E7A016;
$secondary-white: #E6EDF3;
body{
    background-color: $bg-color;
    
}
hr{

    border-color: $secondary-white;
} 
header{
    margin: 0.5rem 0 1.5rem 0;
    
    nav{
        padding: 0.5em 7.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .dropdown-toggle{
            padding: 0;
            border: 0;
            background-color: $bg-color;
        }
        .nav-item{
            display: flex ;
            align-items: center;
        }
        a, button{
            color: $main-yellow;
            margin-left: 1rem;
        }
        a:hover{
            color: $main-white;
        }
        #nav-logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                margin: 0;
                color: $main-white;
            }
            p{
                margin-bottom: -1.1rem;
                padding:0 0.25rem;
                background-color: $bg-color;
            }
        }
        #nav-logo:hover{
            text-decoration: none;
            color: $main-yellow;
        }

    }
    hr{
        margin: 0 7.5rem;
        border-color: $secondary-white;
    }    
}

main{
    padding: 0.5em 7.5rem;
}
.auth-form{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    margin: 10rem 20rem;
    border-radius: 1rem;
    background-color: $main-white;
    form{
        width: 100%;
    }
    .btn{
        padding:0.25rem 2rem;
        margin-bottom: 2rem;
    }
}
.form-group{
    display: flex;
    margin:2rem 0 3rem 0 ;
    .input-label{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 1rem;
        color: $main-white;
        background-color: $main-green;
    }
}
.categories{
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: scroll;
    width: 100%;
    scroll-behavior: smooth;
    margin-top: 1rem;
    .categorie{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $main-white;
        margin: 0.5rem 5rem;
        .categorie-img{
            height: 6rem;
            width: 6rem;
            padding: 1rem;
            background-color: $main-yellow;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        
    }
}
.categories::-webkit-scrollbar{
    display: block;
    height: 0.25rem;
    width: 2rem;
    color: $main-white;
}
.categories::-webkit-scrollbar-thumb{
    background-color: $main-white;
    color: $main-white;
    opacity: 0.25;
    
}


