    
        <div class="listings-grid">
        {% for listing in listings %}
            <div class="listing">
                {% for img in listing.imgs_set.all %}
                    <div class="listing-img d-none">
                        <button class="listing-img-btn left"><i class="bi bi-arrow-left-circle"></i></button>
                        <img src="{{ img.url }}" alt="listing img">
                        <button class="listing-img-btn right"><i class="bi bi-arrow-right-circle"></i></button>
                    </div>
                {% empty %}
                    <div class="listing-img">
                    <img src="{% static "auctions/imgs/default-listing.png" %}" alt="default listing img">
                    </div>
                {% endfor %}
                <div class="listing-details">
                    <h3>{{ listing.title }}</h3>
                    <p>{{ listing.description }}</p>
                    <div class="listing-footer">
                        <span class="prix">Prix: {{ listing.sbid }}$</span>

                    </div>
                </div>
            </div>
        {% empty %}
            <h3 class=" text-center mt-5 text-white">No Active Listings for now</h3>
        {% endfor %}
        </div>
        <script src="{% static "auctions/js/listings.js" %}" defer></script>